form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2em;
}

form label {
  font-weight: 600;
}

input {
  width: 30em;
  height: 2.5em;
  padding-left: 0.6em;
}

textarea {
  width: 30em;
  height: 12em;
  padding: 0.4em 0.5em 0.4em 0.5em;
}

form div {
  width: 100%;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

form div button {
  border: none;
  background-color: #00594f;
  color: #fff;
  padding: 1em;
  border-radius: 1em;
}
